body {
  background-color: #000000;
}
big {
  font-size: 40px;
  color: #2d67b2;
}
shadowbox {
  width: 15em;
  border: 1px solid #333333;
  box-shadow: 8px 8px 5px #444444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, white, #dddddd 40%, #cccccc);
}
marquee {
	border: 2px solid blue ;
	display: flex ;
	overflow: hidden ;
	white-space: nowrap ;
}
marquee__item {
	animation-duration: 4s ;
  	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 5px 15px 5px 15px ;
	color: #2d67b2;
}
marquee:hover .marquee__item {
	animation-play-state: paused ;
}

		/**
		* BOTH of the marquee items are going to be translating left at the same time.
		* And, once each of them has translated to -100%, they will both snap back into
		* place, making it seem as if they are continuously scrolling.
		*/
@keyframes marquee-content {
  from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
	}
}
